
html, body {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 1200px;
  box-sizing: border-box;
  margin: 0px auto; /*можно ли так центровать страницу?? */
}

body {
  /*background-image: url("../img/index.jpg");*/
  /*background-image: url("../img/catalog.jpg");*/
  /*background-repeat: no-repeat;*/
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 26px;
  line-height: 28px;
  color: #000000;
}

h2,
.preview-other span {
  line-height: 21px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  text-align: left;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
  padding-left: 0;
  padding-right: 46px;
}

.main-navigation {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -69px;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.welcome {
  height: 773px;
  background-color: #8d3e58;
  background-image:
    url("../img/white.png"),
    url("../img/background-photo-big.jpg");
  background-position:
    left 0px bottom -2px,
    center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.welcome img {
  margin: 78px auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 40px;
}

.slogan {
  width: 100%;
  padding-bottom: 20px;
}

.slogan span {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
}

.preview {
  height: 256px;
  width: 33%;
  padding-top: 40px;
  padding-left: 47px;
  padding-right: 47px;
}

.preview-first:nth-of-type(6) {
  order: 1;
}

.preview-first h2 {
  color: #ffffff;
}

.preview-first {
  background-color: #81b3d2;
  color: #ffffff;
}

.photo-preview {
  padding: 0;
  width: 66%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.img {
  align-self: center;
}

.preview-main {
  background-color: #eeeeee;
  order: 2;
  padding-left: 67px;
  padding-right: 67px;
}

.preview-other span::before {
  content: "";
  display: block;
  margin: 0px auto;
  background-repeat: no-repeat;
  margin-bottom: 28px;
}

.preview-other span.food::before {
  background-image: url("../img/food.png");
  width: 74px;
  height: 72px;
}

.preview-other span.host::before {
  background-image: url("../img/host.png");
  width: 75px;
  height: 72px;
}

.preview-other span.souvenirs::before {
  background-image: url("../img/souvenirs.png");
  width: 64px;
  height: 76px;
}


/*
.slogan p {
  display: inline-block;
  width: 440px;
  margin: 0px auto;
  font-size: 21px;
  font-weight: bold;
  padding-top: -100px;
}
.features{
  text-align: center;
  padding-top: 57px;
}

.five-features {
  padding-top: 15px;
  padding-bottom: 35px;
}



.feature-items-media {
  display: flex;
  justify-content: space-between;
}
.feature-items-media h2 {
  color: #ffffff;
}

.feature-items-media,
.feature-items


.feature-items-media .preview {
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 38px;
}

.feature-items-media .photo-preview {
  width: 512px;
}

.feature-items {
  display: flex;
  align-items: center;
}

.feature-items .preview {
  height: 256px;
  padding: 50px;
}

.preview-other span::before {
  content: "";
  display: block;
  margin: 0px auto;
  background-repeat: no-repeat;
  margin-bottom: 28px;
}

.preview span.food::before {
  background-image: url("../img/food.png");
  width: 74px;
  height: 72px;
}

.preview span.host::before {
  background-image: url("../img/host.png");
  width: 75px;
  height: 72px;
}

.preview span.souvenirs::before {
  background-image: url("../img/souvenirs.png");
  width: 64px;
  height: 76px;
}

.preview-other {
  margin-bottom: 66px;
}

.feature-items .preview.preview-main {
  background-color: #eeeeee;
  padding-top: 20px;
  line-height: 21px;
  margin-top: -10px;
}

.feature-items .preview.preview-main span {
  display: block;
  margin: 24px auto 20px;
}

.feature-items-media:nth-of-type(3) .preview{
  order: 1;
}*/

.resume {
  width: 568px;
  margin: 0px auto;
  text-align: center;
}

.resume span {
  display: block;
  margin: 52px auto 10px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px
}

.resume p {
  display: block;
  width: 434px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.button-search {
  width: 568px;
  padding-top: 35px;
  height: 86px;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
}

.map {
  width: 768px;
  height: 593px;
  background-color: #c0e7a9;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  margin: 0px auto;
  margin-bottom: -120px;
}

.button {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: center;                                /*как отцентровать*/
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
  /*height: 120px;*/
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social-tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 153px;
  height: 48px;
  margin-left: 30px;
}

.social-button:hover path {
  opacity: 0.3;
}

.website-by {
  display: flex;
  align-items: center;
  width: 195px;
}

.htmlacademy {
  width: 115px;
  height: 41px;
  background-image: url("../img/htmlacademy.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.social-button {
  width: 48px;
  height: 46px;
  background-color: #7ab2d3;
  /*opacity: 1;*/
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button svg:active {
  opacity: 0.3;
}

.arrival {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.arrival-form {
  margin: 55px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.arifal-form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  height: 173px;
  box-sizing: border-box;
}

.arrival-form label {
  position: relative;
  color: #000000;
  font-weight: bold;
}

.guests {
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.arrival-date,
.guests-input {
  background-color: #f2f2f2;
  border: none;
  height: 38px;
  color: #000000;
  font-weight: bold;
}

.arrival-date{
  width: 346px;
}

.guests-input {
  margin-left: 38px;
  margin-right: 38px;
  width: 38px;
}

.arrival-form input:focus {
  background-color: #ffffff;
}

label.guests:first-of-type {
  align-self: flex-start;
}
label.guests:last-of-type {
  align-self: flex-end;
}

.guests-minus,
.guests-plus,
.calendar {
  position: absolute;;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.calendar {
  right: 19px;
  background-color: transparent;
}

.guests-minus path,
.guests-plus path,
.calendar path {
  fill: #a9a9a9;
}

.guests-minus:hover path,
.guests-plus:hover path,
.calendar:hover path {
  fill: #000000;
}

.guests-minus:active path,
.guests-plus:active path,
.calendar:active path {
  fill: #7ab2d3;
}

.guests-plus {
  background-image: url("../img/plus.png");
  left: 150px;
}

.guests-minus {
  background-image: url("../img/minus.png");
}

.button-arrival {
  width: 458px;
  height: 58px;
  font-size: 21px;
  padding-top: 17px;
  background-color: #4a94be;
  font-weight: bold;
}

.filter {
  height: 217px;
  margin: 0px auto;
  background-color: #8d3e58;
  background-image: url("../img/background-catalog-big.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff
}

.filter-hotel {
  display: flex;
  justify-content: space-between;
  height: 155px;
  padding-top: 8px;
}

.filter-hotel div {
  margin-left: 46px;
  margin-right: 52px;
}

.filter h3 {
  font-size: 16px;
  font-weight: bold;
}

.infrastructure,
.host-type {
  width: 140px;
}

.price {
  position: relative;
  width: 222px;
  text-align: center;
}

.filter input[type="text"] {
  box-sizing: border-box;
  color: #ffffff;
  background-color: inherit;
  border: 2px solid #ffffff;
  width: 218px;
  height: 32px;
  margin: auto;
}

/*.filter input[type="text"]:first-of-type {*/
  /*margin-right: -6px;*/
}

.slider {
  position: absolute;
  background-color: #ffffff;
  height: 2px;
}

.slider-main {
  width: 134px;
  z-index: 1;
}

.slider-outside {
  width: 220px;
  opacity: 0.3;
}

.slider-main::before,
.slider-main::after {
  content: "";
  display: block;
  z-index: 2;
  right: 50px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
}

.filter-button {
  border: 2px solid #ffffff;
  width: 133px;
  height: 32px;
  background-color: inherit;
  text-transform: uppercase;
  margin: auto;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*display: block;*/
  border-bottom: 1px solid #e5e5e5;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
}

.sorting div {
  display: inline-block;
}

.sorting div:nth-child(2) {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.sorting-parameters {
  /*margin-left: -168px;*/
}

.sorting-button-value {
  text-align: right;
}

.sorting-button {
  /*display: inline-block;*/
  /*width: 75px;*/
  font-size: 12px;
  line-height: 18px;
  opacity: 0.7;
  /*margin-right: -10px;*/
}

.sorting-parameters span {
  font-size: 12px;
  line-height: 18px;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 46px 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog img {
  width: 135px;
  height: 90px;
}

.catalog-item-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 90px;
  margin-left: -112px;
}

.catalog-item-main h3{
  margin: 0;
  line-height: 13px;
}

.catalog-item-main span {
  display: inline-block;
  vertical-align: baseline;
  width: 116px;
}

.rating {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: space-between;
  width: 111px;
  height: 91px;
}

.catalog-item-button {
  display: inline-block;
  vertical-align: baseline;
  font-weight: bold;
  height: 27px;
  margin-right: 0;
}

.catalog-item-button-details {
  background-color: #81b3d2;
  /*width: 110px;*/
  padding-left: 17px;
  padding-right: 17px;
}

.catalog-item-button-booking {
  background-color: #766357;
  /*width: 142px;*/
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 2px;
}

.rating span {
  display: block;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  text-align: center;
  color: #666666;
}

a {
  text-decoration: none;
}

a.sorting-button{
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

a.sorting-button:hover,
a.sorting-button:focus {
  color: #7ab2d3;
  border-bottom: 1px dotted #81b3d2
}
a.sorting-button:active{
  color: #241e20;
}

a.sorting-button.active {
  color: #81b3d2;
}

.sorting-button-value a {
  display: inline-block;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
  margin: 0px 3px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.arrow::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  border: 10px solid #cacaca;
  border-left-width: 5px;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0px;
}

.arrow-down::before {
  border-bottom-width: 0px;
}

a.arrow:hover::before,
a.arrow:focus::before {
  border-top-color: #241e20;
  border-bottom-color: #241e20;
}

a.arrow:active::before,
.sorting-button-value a.active::before {
  border-top-color: #7ab2d3;
  border-bottom-color: #7ab2d3;
}

/*
.sorting-button-value a:first-child:hover,
.sorting-button-value a:first-child:focus {
  background-image: url("../img/icon-up-hover.svg");
}

.sorting-button-value a:last-child:hover,
.sorting-button-value a:last-child:focus {
  background-image: url("../img/icon-down-hover.svg");
}

.sorting-button-value a:first-child:active,
.sorting-button-value a:first-child.active {
  background-image: url("../img/icon-up-active.svg");
}

.sorting-button-value a:last-child:active,
.sorting-button-value a:last-child.active {
  background-image: url("../img/icon-down-active.svg");
}*/

.site-navigation a,
a.hotel {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
a.hotel:hover,
a.hotel:focus
 {
  color: #81b3d2;
}

.site-navigation a:active,
a.hotel:active {
  color: #b2b2b2;
}

.site-navigation a.active {
  color: #796357;
}

a.button-search:active,
a.catalog-item-button-booking:active {
  color: #857871;
}

a.button-arrival:active,
a.catalog-item-button-details:active {
  color: #81b4d2;
}

/*
button:hover,
button:focus {
  color: brown;
}
*/
